.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}

.flex.flex-columns {
  flex-direction: column;
}

.flex.flex-rows {
  flex-direction: row;
}

.flex-justify-center {
  justify-content: center;
}
