.header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 40px;
}

.header .user-name-header {
  margin-right: 20px;
}

.header .user-action {
  cursor: pointer;
}

.header .game-name a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
