.header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 40px;
}

.header .user-name-header {
  margin-right: 20px;
}

.header .user-action {
  cursor: pointer;
}

.flex-container.columns {
  display: flex;
  flex-direction: column;
}

.flex-container.rows {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.sidebar-user {
  margin-right: 40px;
  background-color: lightblue;
  padding: 20px 0;
}

.sidebar-user .user-logo-container {
  justify-content: center;
  margin-bottom: 40px;
}

.sidebar-user .user-logo {
  height: 150px;
  width: 150px;
  cursor: move;
}

.sidebar-user .user-name-container {
  margin-top: 60px;
  margin-bottom: 40px;
}

.sidebar-user .user-statistics-container {
  margin-bottom: 40px;
}

.rooms-section {
  padding: 20px 0;
}

.rooms-header {
  margin-bottom: 40px;
}

.rooms-container .row.draggable {
  height: 100px;
  align-items: center;
  border: 1px solid black;
}

.rooms-container .row.draggable.over {
  border: 1px solid #00acee;
  -webkit-box-shadow: 7px 7px 20px -4px #00acee;
  box-shadow: 7px 7px 20px -4px #00acee;
}

.rooms-container .row .players-container {
  justify-content: space-around;
  align-items: center;
}

.rooms-container .row .players-container img {
  height: 50px;
  width: 50px;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
